<div class="row mx-auto my-2">
    <div class="col">
        <a class="btn btn-secondary mx-1 float-right" routerLink="/listar-reservas">Listar reservas</a>
        <a class="btn btn-secondary mx-1 float-right" routerLink="/registrar-restaurante">Registrar Restaurante</a>
        <a class="btn btn-secondary mx-1 float-right" routerLink="/registrar-cliente">Registrar cliente</a>
    </div>
</div>
<div class="row mx-auto alert alert-info w-50" role="alert" *ngIf="mensaje">
    <p class="text-center">{{mensaje}}</p>
</div>
<div class="row mx-auto w-25">
    <div class="col">
        <h3 class="text-center my-3">Registrar reserva</h3>
        <form class="form-group">
            <input class="form-control text-center mb-2" type="text" name="cedula" 
                placeholder="Cédula" maxlength="10" pattern="[0-9]+" [(ngModel)]="cedulaCliente" pattern="[0-9]+">
            <input class="form-control text-center mb-2" type="text" name="cliente" 
                placeholder="Nombre de cliente" value="{{nombreCliente}}" disabled>
            <button class="btn btn-primary w-75 mx-auto d-block my-3"
                (click)="buscarCliente()">Buscar cliente</button>
            <input class="form-control text-center mb-2" type="text" name="restaurante" 
                placeholder="Nombre del restaurante" [(ngModel)]="descripcionRestaurante" pattern="[a-zA-Z]">
            <input class="form-control text-center mb-2" type="text" name="aforoMaximo" 
                placeholder="Aforo máximo" value="{{aforoMaximo}}" disabled>
            <button class="btn btn-primary w-75 mx-auto d-block my-3"
                (click)="buscarRestaurante()">Buscar restaurante</button>
            <input class="form-control text-center mb-2" type="date" name="fecha" 
                placeholder="Fecha" [(ngModel)]="fecha">
            <div class="row mx-auto">
                <select class="form-control w-50 mb-2" name="hora" [(ngModel)]="hora">
                    <option class="text-center" *ngFor="let horaSeleccionable of horasDisponibles"
                        value="{{horaSeleccionable}}">
                            {{horaSeleccionable}}
                    </option>
                </select>
                <select class="form-control w-50" name="minuto" [(ngModel)]="minutos">
                    <option class="text-center" *ngFor="let minutoSeleccionable of minutosDisponibles"
                        value="{{minutoSeleccionable}}">
                            {{minutoSeleccionable}}
                    </option>
                </select>
            </div>
            <input class="form-control text-center mb-2" type="number" name="aforo" 
                placeholder="Cantidad de personas" min="1" [(ngModel)]="totalPersonas">
            <button class="btn btn-primary w-75 mx-auto d-block mt-3"
                (click)="registrar()">Registrar</button>
        </form>
    </div>
</div>